/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */

body {
  background-color: #282c34;
}

.avatar {
  position: absolute;
  top: 20px;
  right: 20px;
}
